@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

*{
  font-family: 'Poppins', sans-serif ;
}; 

h1, h2, h3, h4, h5, h6{
  color: #000000;
}; 

