@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif ;
  padding: 0;
  margin:0; 
}; 

h1, h2, h3, h44, h5, h6{
  color: #000000;
}; 


a{
  color: #000000;
  text-decoration: none;
  transition: all 0.5s  ease;
}; 



a:hover{
  color:#3563e9; 
  text-decoration: none;
}